@use "@/common/styles/placeholder.scss";

// .center_content {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     margin: 0 auto;
//     width: 100%;
//     height: 100%;
// }

.registration {
	@extend %center_content;
}

.registration__content {
	@extend %flex-column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.registration__login {
	@extend %flex-column;
	justify-content: center;
	align-items: center;

	gap: 12px;
	margin-top: 18px;
}
.registration__login__text {
	color: var(--text-muted);
}
