.role {
	display: flex;

	gap: 2px;
	padding: 5px;

	border-radius: 10;
	background-color: var(--role-bg);

	&:hover {
		background-color: var(--role-bg-hover);
	}

	&:active {
		background-color: var(--role-bg-delete-hover);
	}

	&_disabled {
		cursor: auto;

		&:hover {
			background-color: var(--role-bg);
		}

		&:active {
			background-color: var(--role-bg);
		}
	}
}
