%center_content {
	align-self: center;

	margin: 0 auto;

	width: auto;
	height: auto;
}

%flex-column {
	@extend %flex;
	flex-direction: column;
}

%flex {
	display: flex;
}

%scrollbar {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--active-hover) transparent;
	}

	*::-webkit-scrollbar {
		width: 12px;
	}
	*::-webkit-scrollbar-track {
		background: transparent;
	}
	*::-webkit-scrollbar-thumb {
		background-color: var(--active-hover);
		border-radius: 5px;
		border: 2px solid transparent;
	}
}
