.avatar {
	position: relative;
	display: inline-block;

	&__image {
		border-radius: 50%;
		border: 2px solid var(--secondary-color);
	}

	&__button {
		position: absolute;
		padding: 5px;

		&_left {
			bottom: 0;
			left: 0;

			transform: translate(-25%, 25%);
		}
		&_right {
			bottom: 0;
			right: 0;

			transform: translate(25%, 25%);
		}
	}
}
