@use "@/common/styles/placeholder.scss";

.change-profile-personal-form {
	@extend %flex-column;
	justify-content: center;
	align-items: center;

	gap: 30px;

	max-width: 400px;
	margin: 0 auto;

	height: 100%;

	&__content {
		gap: 10px;

		width: 100%;
	}
}
