@use "@/common/styles/placeholder.scss";
@use "@/common/styles/variables" as vars;

.profile {
	display: flex;
	justify-content: center;
	align-items: stretch;

	gap: 20px;
	padding: 20px;

	width: 100%;
	max-width: 1500px;

	&__settings {
		@extend %flex-column;
		justify-content: space-between;

		gap: 20px;

		width: 100%;
	}

	@media (max-width: vars.$medium-breakpoint) {
		flex-wrap: wrap;
		max-width: 500px;
	}
}
