.add-button {
	flex-shrink: 0;
	padding: 4px;
	background-color: transparent;

	&:hover {
		background-color: var(--dark-transparent);
	}

	&.disabled {
		&:hover {
			box-shadow: none;
			color: none;
		}

		svg {
			color: color-mix(in srgb, var(--active), var(--disabled-mix));
		}

		color: color-mix(in srgb, var(--text-color), var(--disabled-mix));
		background-color: var(--disabled);
	}
}
