.delete-button {
	padding: 6px;

	border-radius: 20px;
	background-color: transparent;

	color: var(--active);

	&:hover {
		color: var(--active-hover);
		background-color: var(--dark-transparent);
		box-shadow: 0 2px 3px var(--shadow);
	}
	& svg {
		min-width: 16px;
		min-height: 16px;

		color: var(--active);
	}
}
