.service-panel {
	--animation-duration: 0.3s;

	padding: 5px 0 0px;

	height: auto;
	width: 100%;

	&__visibility-button {
		height: auto;
		width: 100%;

		&:hover {
			background-color: var(--background);
		}
	}
	.visibility-button {
		display: flex;
		align-items: center;

		gap: 4px;
		padding: 2px 10px;

		background-color: var(--foreground);

		border-bottom: 2px solid var(--stroke);

		& .icon {
			transition: transform var(--animation-duration) ease;

			&_visible {
				transform: rotate(0deg);
			}

			&_hidden {
				transform: rotate(90deg);
			}
		}
	}

	&__content {
		overflow: hidden;
		transition:
			max-height var(--animation-duration) ease-out,
			opacity var(--animation-duration) ease;
		opacity: 1;
		visibility: visible;

		&_visible {
			max-height: 400px;
		}

		&_hidden {
			max-height: 0;
		}
	}
}
