.text-filed {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	border-radius: 10px;

	overflow: hidden;

	&__input {
		color: var(--text-color);

		padding: 8px 12px;

		background-color: var(--textinput-bg);
		border: 1px solid var(--textinput-border);
		border-radius: 10px;

		// &:-webkit-autofill,
		// &:-webkit-autofill:hover,
		// &:-webkit-autofill:focus,
		// &:-webkit-autofill:active {
		// }

		// &:-webkit-autofill::first-line {
		// 	color: var(--textinput-border) !important;
		// }

		// &:active {
		// 	box-shadow: 0 0 0 2px var(--shadow);
		// 	outline: none;
		// }
	}
}
