.text-filed {
	display: flex;
	flex-direction: column;

	background-color: var(--background-color);
}

.text-filed__input {
	color: var(--text-color);

	padding: 2px 4px;

	background: var(--foreground);
	border: 2px solid var(--stroke);
	border-radius: 20px;

	width: auto;
	height: auto;

	&::placeholder {
		color: var(--text-color);
	}
}
