@use "../../../app/globals.scss";

.ff-table {
	th {
		@extend .text;
		@extend .text_bold;
	}
	&__loader {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100px;
	}
}
