@use "@/common/styles/placeholder.scss";

:root {
	--segoe-ui: "Segoe UI", sans-serif;
	--inter: "Inter", sans-serif;
	--roboto-mono: "Roboto Mono", sans-serif;
	--text-size: 16px;
	--bigText-size: 20px;
	--litleTitle-size: 24px;
	--title-size: 28px;

	// --ant-table-row-hover-bg: #da6060;
	--background-text-color: #cfcfcf;
	--background: #2a2828;
	--text-color: #e3e3e3;
	--foreground: #323234;
	--active-background: #2d75c8;
	--active-hover: #507fdc;
	--stroke: rgb(84, 79, 79);
	--stroke-opacity: color-mix(in srgb, var(--stroke), transparent 70%);
	--active-border: #ececec;

	--error-text-color: #f55858;

	--shadow: #00000081;
	--dark-transparent: #423b3b81;

	--border-for-nav-panel: 2px solid #111111b1;
	--drop-down-border-color: #a30c0c59;
	// --text-size: 100%;

	--disabled: #38333330;
	--disabled-mix: #5a53539c;

	// Toasts colors
	--toast-error: #d03b3b;
	--toast-success: #47d73d;
	--toast-warning: #d6df1e;
}

:root {
	--size-button-icon: 24px;
}

html {
	overflow-y: scroll;
}

.body-layout {
	margin: 0 auto;

	min-height: 100vh;
	width: 100%;

	// background-color: var(--background);
	// color: var(--text-color);
}

.title {
	font-family: var(--segoe-ui);
	font-weight: 400;
	color: var(--text-color);
	font-size: 28px;

	&_very-litle {
		font-size: 16px;
	}

	&_litle {
		font-size: 20px;
	}

	&_bold {
		font-weight: 600;
	}

	&_tiny {
		font-weight: 200;
	}

	&_big {
		font-size: 48px;
	}
}

.text-table {
	font-family: var(--roboto-mono);
	font-weight: 400;
	font-size: 16px;
	color: var(--text-color);

	&_litle {
		font-size: 14px;
	}

	&_big {
		font-size: 20px;
	}

	&_tiny {
		font-weight: 300;
	}

	&_bold {
		font-weight: 600;
	}
}

.text {
	font-family: var(--inter);
	font-weight: 400;
	font-size: 16px;
	color: var(--text-color);

	&_very-litle {
		font-size: 12px;
	}

	&_litle {
		font-size: 14px;
	}

	&_big {
		font-size: 20px;
	}

	&_tiny {
		font-weight: 300;
	}

	&_bold {
		font-weight: 600;
	}
}

.button {
	padding: 16px 48px;

	max-width: 585px;
	height: auto;

	background: var(--active-background);
	border: 3px solid var(--active-border);
	border-radius: 20px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
