@use "@/common/styles/variables" as vars;

.main-layout {
	display: flex !important;
	align-items: center;
	height: 100%;

	@media (max-width: vars.$medium-breakpoint) {
		flex-direction: column-reverse !important;
	}

	& main {
		height: 100vh !important;
		width: 100% !important;
	}
}
