.role {
    display: flex;

    gap: 2px;
    padding: 5px;

    border-radius: 10;
    background-color: #464649;

    &:hover {

        background-color: #818181;

    }

    &:active {

        background-color: #a22e2ed1;

    }
}