.auth-text-filed {
	display: flex;
	flex-direction: column;

	background-color: var(--background-color);
}

.auth-text-filed__input {
	color: var(--text-color);

	padding: 12px 24px;

	background: var(--foreground);
	border: 2px solid var(--stroke);
	border-radius: 20px;

	width: 100%;
	height: auto;

	&::placeholder {
		color: var(--text-color);
	}
}
