.add-feature-flag {
	position: relative;
	display: flex;
	align-items: center;

	gap: 10px;
	border-radius: 20px;
	background-color: rgb(47, 47, 47);

	// TODO:объединить клаcсы в reload и заплейхолдрить
	&:hover {
		background-color: rgba($color: #000000, $alpha: 0);

		color: rgb(250, 250, 250);

		svg {
			color: rgb(63, 143, 234);
		}
	}
	& svg {
		min-width: 16px;
		min-height: 16px;

		color: rgb(63, 143, 234);
	}

	&__feature-flag-form {
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translate(-50%, 0);

		z-index: 10;
	}
}

.feature-flag-form {
	display: flex;
	flex-direction: column;

	gap: 10px;
	padding: 10px 10px;

	width: auto;
	height: auto;

	border-radius: 20px;
	background-color: var(--foreground);

	&__data {
		display: flex;
		gap: 10px;
	}
}
