@use "@/common/styles/placeholder.scss";
.add-feature-flag {
	position: relative;
	display: flex;
	align-items: center;

	gap: 10px;
	border-radius: 20px;

	// TODO:объединить клаcсы в reload и заплейхолдрить
	// & svg {
	// 	min-width: 16px;
	// 	min-height: 16px;

	// 	color: var(--icon-button-bg);
	// }

	&__feature-flag-form {
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translate(-50%, 0);

		z-index: 10;
	}

	&__button {
		width: 100%;
	}

	&__buttons {
		display: flex;

		gap: 10px;

		width: fit-content;
	}

	* {
		margin: 0;
	}
}

.ant-form-item:has(.add-feature-flag__buttons) {
	margin: 0 !important;
}

.feature-flag-form {
	@extend %flex-column;

	padding: 20px;

	max-width: clamp(300px, 257.14px + 7.44vw, 400px);
	width: fit-content;
	height: auto;

	border-radius: 20px;
	background-color: var(--popover-bg);

	&__data {
		@extend %flex;
		justify-content: space-between;
		align-items: start;
		gap: 10px;

		> * {
			width: auto !important;
		}
	}
}
