@use "@/common/styles/placeholder.scss";
.add-feature-flag {
	position: relative;
	display: flex;
	align-items: center;

	gap: 10px;
	border-radius: 20px;
	background-color: var(--popover-bg) !important;

	// TODO:объединить клаcсы в reload и заплейхолдрить
	&:hover {
		color: var(--text-color);

		svg {
			color: var(--icon-button-bg-hover);
		}
	}
	& svg {
		min-width: 16px;
		min-height: 16px;

		color: var(--icon-button-bg);
	}

	&__feature-flag-form {
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translate(-50%, 0);

		z-index: 10;
	}

	&__button {
		width: 100%;
	}
	&__buttons {
		display: flex;

		gap: 10px;

		width: 100%;
	}

	* {
		margin: 0;
	}
}

.feature-flag-form {
	@extend %flex-column;

	gap: 15px;
	padding: 10px 10px;

	max-width: clamp(200px, 160px + 12.5vw, 400px);
	width: max-content;
	height: auto;

	border-radius: 20px;
	background-color: var(--popover-bg);

	&__data {
		@extend %flex;
		justify-content: space-between;
		align-items: start;
		gap: 10px;

		> * {
			flex: 0 1 auto;
			width: auto;
		}
	}
}
