@use "@/common/styles/placeholder.scss";

.add-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 50vw;
	min-width: 500px;
	width: 100%;
	gap: 16px;

	&__qr-code-container {
		@extend %flex;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	&__token-container {
		@extend %flex-column;
		flex: 2;

		width: 100%;
		gap: 20px;
	}

	&__buttons {
		display: flex;

		gap: 10px;

		width: 100%;

		& > * {
			width: 100%;
		}
	}

	&__add-button {
		flex: 2;
		&:disabled {
			color: color-mix(in srgb, var(--text-color), var(--disabled-mix));
			background-color: color-mix(
				in srgb,
				var(--active-background),
				var(--disabled-mix)
			);
		}

		// &:hover {
		// 	&::after {
		// 		content: "";
		// 		opacity: 1;
		// 	}
		// }
	}

	&__reset-button {
		flex: 1;
		&:disabled {
			color: color-mix(in srgb, var(--white), var(--disabled-mix));
			background-color: color-mix(
				in srgb,
				var(--error),
				var(--disabled-mix)
			);
		}
	}

	&__token {
		display: grid;
		grid-template-columns: auto 20px;
		justify-content: space-between;

		margin-bottom: 0 !important;
		padding: 4px 10px;
		width: 100% !important;
		border-radius: 16px;
		background-color: var(--shadow);
	}
	& .ant-form-item {
		width: 100%;
		margin-bottom: 0;
	}
}

.qr-code {
	display: block;

	flex: 1;

	border: none;
	// cursor: pointer;

	canvas {
		object-fit: contain;
		width: 100% !important;
		height: 100% !important;
	}
}

.add-user__search {
	width: 100%;
}

.url {
	max-width: 300px;
	width: 100%;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}
