.add-user-roles {
	display: flex;
	gap: 24px;
	width: 100%;
	justify-content: center;

	&__block {
		display: flex;
		flex-direction: column;
		gap: 12px;

		width: 100%;
		align-items: center;
	}

	hr {
		height: 2px;
		background-color: var(--stroke-opacity);
	}

	&__list {
		display: flex;
		flex-direction: column;

		gap: 8px;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4px 0;
	}
	& .add-user-roles__segmented {
		.ant-segmented-group {
			display: flex;
			gap: 8px;
		}

		.ant-segmented-item {
			flex: 1 1 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
