@use "@/common/styles/placeholder.scss";

.resize-column {
	$size: 16px;
	position: absolute;
	top: 0;
	right: calc(-1 * $size / 2);
	z-index: 1000;

	background-color: transparent;
	height: 100%;
	width: $size;

	touch-action: none;
	user-select: none;
	cursor: col-resize;

	// Для отладки - уберите после проверки
	// background-color: rgba(255, 0, 0, 0.2);
}

.department-tree-panel {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--foreground-second);

	padding: 10px 0 0;

	flex: 0 0 auto;
	min-width: 200px;
	max-width: min(360px, 40vw);

	border-right: var(--border-for-nav-panel);
	box-shadow: 2px 0 5px var(--shadow);

	overflow-x: visible;

	&.collapsed {
		min-width: 0;
		max-width: 0;
		overflow: hidden;

		& .department-tree-panel__tree {
			overflow: hidden;
			width: 0px;
		}
	}
	&__title {
		@extend %flex;
		justify-content: space-between;

		gap: 10px;
		padding: 20px 0 5px 10px;
	}

	&__buttons {
		@extend %flex;
		align-items: center;

		font-size: 16;

		// & * {
		// 	line-height: 0;
		// }
		gap: 10px;
	}

	&__button {
		z-index: 1;
		position: absolute;
		top: 40px;
		right: 0;
		transform: translate(50%, 0);

		padding: 3px;

		width: auto;

		border-radius: 50%;

		background-color: var(--ant-color-primary);

		svg {
			transition: transform linear 0.2s;
			font-size: 16;
		}

		// &::after {
		//     content: "";
		//     position: absolute;
		//     top: 0;
		//     right: 0;

		//     width: 43%;
		//     height: 100%;

		//     border-top-right-radius: 10px;
		//     border-bottom-right-radius: 10px;

		//     border: 2px solid #535353;
		//     border-left: none;
		// }
	}
}
