@use "@/common/styles/placeholder.scss";

.user-registration {
	@extend %center_content;
	@extend %flex-column;
	align-items: center;
	justify-content: center;
}

.user-registration__content {
	@extend %flex-column;
	align-items: center;
}
