@use "@/common/styles/placeholder.scss";

.profile-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"avatar login"
		"avatar department"
		"roles roles";

	align-items: center;

	gap: 16px;
	padding: 12px 0;
	max-width: 800px;
	height: min-content;

	.ant-form-item {
		margin-bottom: 0;
		width: 100%;
	}

	&__avatar {
		grid-area: avatar;
		display: flex;
		align-items: start;
		padding-top: 8px;
	}

	&__login {
		grid-area: login;
	}

	&__department {
		grid-area: department;
	}

	&__roles-wrapper {
		grid-area: roles;
	}

	&__roles {
		margin-top: 8px;
	}

	&__submit {
	}

	.ant-input-disabled {
		background-color: #f5f5f5;
		cursor: not-allowed;
	}

	.ant-select-disabled {
		.ant-select-selector {
			background-color: #f5f5f5;
			cursor: not-allowed;
		}
	}
}
