/* app/main.scss */
@use "@/common/styles/placeholder.scss";

.registration-table {
	@extend %flex-column;

	width: 100%;
	height: auto;

	&__admin {
		@extend %flex-column;
		justify-content: center;
	}

	&__content {
		@extend %flex-column;
	}
}

.error-message {
	color: var(--error-message-color);
}

.admin {
	&__content {
		display: flex;
		flex-direction: column;
	}

	&-input {
		width: 100%;
		max-width: 585px;
		height: auto;

		color: var(--text-color);
		background: var(--foreground);
		border-radius: 10px;
	}
}

.registration-table__login-label_under-items {
	margin-top: 18px;
	display: flex;
	justify-content: center;
}

.registration-table__title {
	width: 100%;
}

.form__table-rows {
	@extend %flex-column;

	gap: 10px;
}

.registration-table__row {
	@extend %flex-column;
}
