.toast {
	display: grid;
	grid-template-rows: 30px auto;
	grid-template-columns: 64px 128px;
	grid-template-areas:
		"icon title"
		"icon text";

	justify-items: center;
	padding: 5px;

	width: calc(200px + 10vw);

	border-radius: 20px;
	border-left: 10px solid;

	&_fade-in {
		opacity: 1;
		animation: popIn 0.4s cubic-bezier(0.34, 1.56, 1, 1);

		&.toast_active {
			animation: none !important;
			transition: none !important;
		}
	}

	&_fade-out {
		opacity: 0;
		transition:
			opacity 0.3s ease-in,
			transform 0.2s ease-out 0.3s;
		transform: translateY(200px);

		&.toast_active {
			animation: none !important;
			transition: none !important;
			opacity: 1;
			transform: none;
		}
	}

	&_active {
		animation: none !important;
		transition: none !important;
		opacity: 1;
		transform: none;
	}

	&_warning {
		color: var(--toast-text);
		border-color: var(--toast-border-warning);
		background-color: var(--toast-bg-warning);
	}

	&_error {
		border-color: var(--toast-border-error);
		color: var(--toast-text);
		background-color: var(--toast-bg-error);
	}

	&_success {
		border-color: var(--toast-border-success);
		color: var(--toast-text);
		background-color: var(--toast-bg-success);
	}

	&__icon {
		grid-area: icon;
		font-size: 32;
	}

	&__title {
		grid-area: title;
	}

	&__text {
		grid-area: text;
	}
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: translateY(20px) scale(0.8);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
