.tree {
	width: 100%;

	// чтобы любой контент не выходил за пределы, даже если навели при dragAndDrop
	overflow: hidden;
	.ant-tree-node-content-wrapper {
		// чтобы не ставить фиксированный width
		width: 100%;
	}
	// класс появляющийся при перетаскивании и наложении объекта на другой
	.drop-target {
		.ant-tree-node-content-wrapper {
			// делаем видимой черту
			overflow: visible !important;
		}
	}

	.ant-tree-treenode {
		width: 100%;
		max-width: 100%;
	}

	.ant-tree-title {
		& > input {
			line-height: 1;
			display: block;
			overflow: hidden !important;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100% !important;
		}
	}

	.ant-tree-switcher {
		.ant-tree-switcher-icon {
			color: #fff;
		}
	}

	.ant-tree-draggable-icon {
		color: var(--text-color) !important;
		display: none;
	}

	// Соединительные линии
	.ant-tree-drop-indicator {
		color: var(--text-color) !important;
	}

	// Вертикальные линии
	.ant-tree-indent-unit {
		&::before {
			color: var(--text-color) !important;
		}
	}
}
