@use "@/common/styles/placeholder.scss";

// $l: ca10vw*1px;

.ff-menu {
	@extend %flex-column;

	gap: 30px;
	&__tabs {
		display: flex;
		width: 100%;

		.ant-tabs-tab {
			flex: 1;
			padding: 10px;
			border-radius: 16px 16px 0 0;
		}

		.ant-tabs-tab-active {
			color: var(--active-color);
			// background-color: var(--foreground-second);
		}

		.ant-tabs-nav {
		}

		.ant-tabs-nav-list {
			position: relative;
			display: flex;
			justify-content: space-between;

			width: 100%;
		}
	}
}
