.icon-button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: rgb(47, 47, 47);

	&:hover {
		background-color: var(--);
		box-shadow: 0 2px 3px var(--shadow);
		color: var(--text-color);

		svg {
			color: var(--active-hover);
		}
	}

	& svg {
		min-width: var(--size-button-icon);
		min-height: var(--size-button-icon);
		color: var(--active);
	}
}
