.icon-button {
	display: flex;
	align-items: center;
	flex-shrink: 0;

	gap: 10px;
	padding: 6px;

	border-radius: 20px;
	background-color: var(--iconbutton-bg);
	box-shadow: 0 2px 3px var(--shadow);

	&:hover {
		background-color: var(--iconbutton-bg-hover);

		svg {
			color: var(--icon-svg);
		}
	}

	&.disabled {
		cursor: not-allowed;
		box-shadow: none;
		color: none;
		&:hover {
			box-shadow: none;
			color: none;
		}

		svg {
			color: color-mix(in srgb, var(--icon-svg), var(--disabled-mix));
		}

		color: color-mix(in srgb, var(--icon-svg), var(--disabled-mix));
		background-color: var(--iconbutton-bg-disabled);
	}

	& svg {
		min-width: var(--size-button-icon);
		min-height: var(--size-button-icon);
		color: var(--icon-svg);
	}
}
.log-out-button {
	color: var(--delete-icon-color, red);
	padding: 4px;
	flex-shrink: 0;
	background-color: transparent;

	&:hover {
		color: var(--delete-icon-color, darkred);
		background-color: var(--dark-transparent);
	}
}
