@use "@/common/styles/placeholder.scss";

.user-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 32px 75px 75px auto;
	grid-template-areas:
		"avatar circle-selection"
		"avatar personal-data"
		"avatar personal-data"
		"roles roles";

	align-items: center;

	padding: 5px;

	max-width: 315px;
	// max-height: 258px;
	height: auto;

	background-color: var(--foreground);
	border-radius: 20px;

	color: #fff;

	transition: background-color ease-in 0.1s;

	&__field {
		position: relative;
		@extend %flex-column;

		margin: 10px 5px;

		font-size: 14px;

		border-bottom: 1px solid #fff;

		&:hover {
			border-color: var(--hover-active-background);
		}
	}

	&__input {
	}

	&_selected {
		background-color: var(--foreground-second);
		box-shadow: 0 4px 5px var(--shadow);
		// button {
		//     background-color: var(--foreground-second);
		// }

		.user-card__circle-selection {
			background-color: var(--active);
		}
	}

	&__avatar {
		position: relative;
		grid-area: avatar;
		align-self: center;
		justify-self: center;

		margin: 0 auto;

		border-radius: 50%;
		border: 2px solid var(--stroke);
	}

	&__delete-button {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(25%, 25%);

		border-radius: 50;
		background-color: var(--foreground);

		&:hover {
			box-shadow: 0 0 4px var(--shadow);
		}
	}

	&__circle-selection {
		grid-area: circle-selection;
		justify-self: end;

		margin-right: 10px;

		width: 16px;
		height: 16px;

		border-radius: 50%;
		border: 2px solid var(--stroke);

		&:hover {
			background-color: var(--hover-active-background);
		}
	}

	&__personal-data {
		grid-area: personal-data;

		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-right: 10px;

		button {
			margin-left: 10px;
			&.disabled {
				cursor: not-allowed;

				border-bottom-color: #ffffff00;
				color: #bcbcbc;
			}
		}
	}

	&__role-list {
		grid-area: roles;
		align-self: self-start;

		@extend %flex-column;
		justify-content: flex-start;

		gap: 15x;
		padding: 0 10px 5px 10px;

		border-color: black;

		button.add-role {
			svg {
				font-size: 24;

				&:hover {
					color: var(--hover-active-background);
				}

				&:active {
					color: var(--active);
				}
			}
		}
	}

	&__error {
		position: absolute;
		bottom: 0;
		transform: translate(0, 100%);

		font-size: 10px;

		color: var(--error-text-color);
	}
}

.role-list__title {
	position: relative;
	display: flex;
	justify-content: space-between;
}
