// .department-table .ant-table-tbody > tr > td{
//     height: 16 !important;
// }
@use '../../../../app/globals.scss';
.department-table  {

    th {
        @extend .text;
        @extend .text_bold;
    }
    

    &.hidden {
        display: none;
    }

    .ant-table-thead > tr > th{
        color: var(--text-color);
        font-size: var(--text-size);
        font-weight: 700;
    }
    // max-height: 16 !important;
    
}