.eye {
	animation: spin 1s linear alternate infinite;
}

@keyframes spin {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(20%);
	}
}

.loader-icon {
	min-width: 85px;
	min-height: 82px;
	display: inline-block;
	flex-shrink: 0;
}

.loader-icon__svg {
	display: block;
	width: 100%;
	height: 100%;
}
