@use "@/common/styles/placeholder.scss";

.ff-table-filters {
	width: auto;
	height: auto;
	&__panel {
		@extend %flex;
		flex-wrap: wrap;

		gap: 5px;
		padding: 15px;

		max-width: 200px;
		width: max-content;

		border-radius: 20px;
		background-color: var(--foreground);
		box-shadow: 0 2px 3px var(--shadow);
	}

	&__button {
		width: 32px;
		height: auto;

		font-size: 24;
	}
}
