@use "@/common/styles/placeholder.scss";
@use "@/common/styles/variables.scss" as vars;

.profile-page {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: vars.$medium-breakpoint) {
		flex-direction: column;
		justify-content: flex-start;

		gap: 20px;
	}
}

.profile-panel-area {
	overflow-x: hidden;

	position: relative;

	width: 100%;
	min-height: min(100vh, 600px);
	height: 100%;
}

.panel {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 20px;

	width: 100%;
	height: 100%;
}

@keyframes enterFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes enterFromLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes exitToLeft {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes exitToRight {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

$animation-duration: 0.4s;

.animate-enter-from-right {
	animation: enterFromRight $animation-duration ease forwards;
}

.animate-enter-from-left {
	animation: enterFromLeft $animation-duration ease forwards;
}

.animate-exit-left {
	animation: exitToLeft $animation-duration ease forwards;
}

.animate-exit-right {
	animation: exitToRight $animation-duration ease forwards;
}
