.icon-button.log-out-button {
	color: var(--delete-icon-color) !important;
	padding: 4px;
	flex-shrink: 0;
	background-color: transparent;

	& svg {
		color: var(--delete-icon-color);
	}

	&:hover {
		background-color: var(--iconbutton-bg-hover);

		& svg {
			color: var(--delete-icon-color);
		}
	}
}
